<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.hcmut.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">

        </activity>

        <activity android:name=".activity.ListView1Activity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.ListView2Activity" />
        <activity android:name=".activity.ListViewPrefActivity" />
        <activity android:name=".activity.ListViewSaveActivity" />
        <activity android:name=".activity.ClubActivity" />

        <activity android:name="vn.edu.hcmut.week3.AddNewScreen" />
        <activity android:name="vn.edu.hcmut.week3.ViewScreen" />
        <activity android:name="vn.edu.hcmut.week3.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
